Importing Libraries:

pandas : to build dataframe (table like structure)

torch: to generate random singular number between 0 and 9

In [1]:
import pandas as pd
import torch

Creating dataframe and defining the number of records (1 Billion) we want in dataframe

In [2]:
df = pd.DataFrame()
max_df= 1_000_000_001 # 1 Billion

Generating random singular number and filling those values in dataframe column name 'Column_1'.
Once value is filled, printing the unique values column Column_1 contains.

In [3]:
%timeit -n 1 -r 1 df['Column_1'] = torch.randint(0,10,(max_df,),dtype=torch.int8).numpy()
f'DataFrame Column Name Column_1 has got {df['Column_1'].nunique()} unique values which are: {sorted(list(df['Column_1'].unique()))}'

43.9 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

'DataFrame Column Name Column_1 has got 10 unique values which are: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

Generating random singular number and filling those values in dataframe column name 'Column_2'
Once value is filled, printing the unique values column Column_2 contains

In [4]:
%timeit -n 1 -r 1  df['Column_2'] = torch.randint(0,10,(max_df,),dtype=torch.int8).numpy()
f'DataFrame Column Name Column_2 has got {df['Column_2'].nunique()} unique values which are: {sorted(list(df['Column_2'].unique()))}'

2.89 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

'DataFrame Column Name Column_2 has got 10 unique values which are: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

Showing dataframe Information

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000001 entries, 0 to 1000000000
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   Column_1  int8
 1   Column_2  int8
dtypes: int8(2)
memory usage: 1.9 GB

Check value for each record in dataframe for two different column and if value match then Match_Column_Value gets value 1 else 0

In [6]:
%timeit -n 1 -r 1  df['Match_Column_Value'] = (df.Column_1 == df.Column_2).astype('int8')

1.14 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Printing the unique values column Match_Column_Value contains.

In [7]:
f'DataFrame Column Name Match_Column_Value has got {df['Match_Column_Value'].nunique()} unique values which are : {sorted(list(df['Match_Column_Value'].unique()))}'

'DataFrame Column Name Match_Column_Value has got 2 unique values which are : [0, 1]'

In [8]:
df.head(1000)

     Column_1  Column_2  Match_Column_Value
0           8         8                   1
1           5         3                   0
2           8         2                   0
3           4         1                   0
4           8         3                   0
..        ...       ...                 ...
995         8         5                   0
996         8         5                   0
997         8         8                   1
998         8         3                   0
999         6         6                   1

[1000 rows x 3 columns]